/* Start Home */

.contain-home,.contain-about{
    background-color: #1ABC9C;
}
.line{
    width: 20%;
    height: 5px;
}

/* End Home */

/* Start Footer */
.main-foot{
    background-color: #2C3E50;
    height: 50%;
}

.icon-contain{
    cursor: pointer;
}
.copyright{
    background-color: #1A252F;
    height: 50%;

}

/* End Footer */

/* Start Navbar */
.navbar{
    background-color: #2C3E50 !important;
    transition: all 1s;
}

.active-nav{
    background-color: #1ABC9C;
}
/* End Navbar */

/* Start About */
.line2{
    width: 94px;
    height: 5px;
}

/* End About */

/* Start Contact */

.label{
    position: absolute;
    top: 0px;
    z-index: -1;
    transition: all 1s;
}

.bg-custom{
    background-color: #2C3E50 !important;
}

/* End Contact */

/* Start Portfolio */
.port-contain{
    cursor: pointer;
}

.overlay{
    opacity: 0;
    transition: all 1s;
    background-color: #1abc9cc7 !important;
}

.fa-plus{
    font-size: 128px !important;
}

.port-contain:hover .overlay{
    opacity: 100%;
}

.overoverlay{
    background-color: #0033ffb6 !important;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End Portfolio */

.empty{
    height: 106px;
}